ion-content{
    --ion-background-color: rgb(255, 192, 208);
    

}
.gallery {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 0%;
    
    
  }
  
  .gallery ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
  }
  
  .gallery ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
  .gallery1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 20%;
    margin-top: -83%;
  }
  
  .gallery1 ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
  }
  
  .gallery1 ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
  .gallery2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 40%;
    margin-top: -83%;
  }
  
  .gallery2 ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
  }
  
  .gallery2 ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
  .gallery3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 61%;
    margin-top: -83%;
  }
  
  .gallery3 ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
  }
  
  .gallery3 ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
  .gallery4 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 81%;
    margin-top: -75%;
  }
  
  .gallery4 ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
  }
  
  .gallery4 ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
  .background{
    background-color: brown;
    width: 1210px;
    height:1220px;
    margin-left: 5%;
  }
  
  