
ion-content{
    --ion-background-color: rgb(255, 192, 208);
}
.bground{
    background-color: crimson;
    width: 300px;
    margin-left: 25%;
    margin-top: 30%;
}
.pic {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 0%;
  }
  
  .pic ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 90px;
    padding: 20px;
    filter: grayscale(100%);
    transition: 1s;
    border-radius: 50%
  }
  
  .pic ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
h3{
      text-align: center;
      margin-top: -15%;
      margin-left: 15%;
  }

  .bground2{
    background-color: rgb(219, 148, 236);
    width: 300px;
    margin-left: 25%;
    margin-top: 5%;
}
.pic2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 0%;
  }
  
  .pic2 ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 90px;
    padding: 20px;
    filter: grayscale(100%);
    transition: 1s;
    border-radius: 50%
  }
  
  .pic2 ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
h3{
      text-align: center;
      margin-top: -15%;
      margin-left: 15%;
  }
  .bground3{
    background-color: rgb(168, 62, 120);
    width: 300px;
    margin-left: 25%;
    margin-top: 5%;
}
.pic3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 0%;
  }
  
  .pic3 ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 90px;
    padding: 20px;
    filter: grayscale(100%);
    transition: 1s;
    border-radius: 50%
  }
  
  .pic3 ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
h3{
      text-align: center;
      margin-top: -15%;
      margin-left: 15%;
  }
  .bground4{
    background-color: rgb(250, 18, 146);
    width: 300px;
    margin-left: 25%;
    margin-top: 5%;
}
.pic4 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 40px;
    margin-left: 0%;
  }
  
  .pic4 ion-img {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 90px;
    padding: 20px;
    filter: grayscale(100%);
    transition: 1s;
    border-radius: 50%
  }
  
  .pic4 ion-img:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    filter: grayscale(0);
    transform: scale(1.1);
  }
h3{
      text-align: center;
      margin-top: -15%;
      margin-left: 15%;
  }
  .content{
    background-color: darkseagreen;
    width: 600px;
    height: 700px;
    margin-top: -10%;
    margin-left: 30%;
}