
ion-header{
    --ion-background-color: rgb(183, 211, 224);
}

ion-content{
    --ion-background-color: rgb(236, 166, 180);
}
ion-card-content{
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: rgb(12, 2, 2);
    height: 60%;
}
ion-button{
    margin-top: -1%;
    margin-left: 80%;
}
.contactlist{
    background-color: rgb(67, 77, 77);
    color: #FFF;
    font-size: large;
}